.main {
    /* margin: 0 20rem; */
    margin-top: 1rem;
    padding: 1.8rem;
    padding-top: 1.4rem;
    /* min-width: 996px; */
    justify-content: center;
}

/* Breadcrumbs */
.breadcrumbs-container {
    color: #565959;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
    padding: 0 1.6rem;
    /* margin: 0 20rem; */
    margin-top: 0.8rem;
}

.breadcrumbs-list li {
    list-style: none;
    margin-right: 0.4235rem;
}

.breadcrumbs-item a {
    text-decoration: none;
    color: #565959;
}

.main__preview-imgs {
    width: max-content;
}

.img-container {
    border: #a2a6ac 1px solid;
    border-radius: 2px;
    width: max-content;
    display: inline-block;
    margin-bottom: 1rem;
    box-shadow: 0 0 3px 2px transparent;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.main__big-img-container {
    margin-left: 4rem;
}

.main__big-img-container img {
    max-width: 68.5rem;
    max-height: 68.5rem;
    height: 100%;
    width: auto;
}

.main__product-description-container {
    margin-left: 5rem;
}

.prod-name-and-rating {
    margin: 0.5rem 0 1rem;
}

.prod-name-and-rating .name {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 400;
    color: #0f1111;
}

.brand a {
    text-decoration: none;
    color: #007185;
    font-size: 1.4rem;
    line-height: 2rem;
}

.stars {
    background: url("../../assets/images/sprite1.png") no-repeat -5px -369px;
    width: 79px;
    height: 15px;
}

.num-users-rate {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-left: 2rem;
}

.num-users-rate a {
    color: #007185;
    text-decoration: none;
}

.choice {
    color: #fff;
    height: 2.2rem;
    background-color: #232f3e;
    border-color: #232f3e;
    min-width: 8rem;
    line-height: 2.2rem;
    font-size: 1.2rem;
}

.amazon {
    margin-left: 0.8rem;
    margin-right: 0.3rem;
}

.orange-txt {
    color: #f69931;
    margin-right: 0.8rem;
}

.product-section {
    color: #111;
    display: inline;
    margin-left: 0.5rem;
    line-height: 2.2rem;
    font-size: 1.4rem;
}

.product-section a {
    color: #007185;
    font-size: 1.2rem;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    border-left: none;
    line-height: 1.9rem;
    margin-bottom: 1.4rem;
    /* border-width: 0; */
}

.price-category {
    padding: 0 0.3rem;
    padding-left: 0;
    text-align: right;
    color: #565959;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 6rem;
}

.past-price {
    color: #565959;
    font-size: 1.4rem;
    line-height: 2rem;
    position: relative;
}

.past-price::after {
    content: "";
    position: absolute;
    border-top: 1px solid;
    right: 0;
    left: 0;
    top: 50%;
}

.price-big {
    color: #b12704;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.price-small {
    color: #b12704;
    font-size: 1.4rem;
    line-height: 2rem;
}

.tax-and-import {
    color: #565959;
    font-size: 1.4rem;
    line-height: 2rem;
}

.details a {
    color: #007185;
    text-decoration: none;
}

.color {
    display: inline;
    color: #555;
    font-weight: 400;
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
}

.item-box {
    min-width: 13.8rem;
    min-height: 4.6rem;
    max-width: 18rem;
    border: #e47911 1px solid;
    border-radius: 0.2rem;
    margin: 0.4rem 0;
    margin-left: 0.6rem;
    cursor: pointer;
    justify-content: space-around;

    /* line-height: 700; */
}

.item-chooser2__container {
    border-color: #e0e0e0;
}

.item-box img {
    height: 3.6rem;
    width: 3.6rem;
}

.price {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.4rem;
    color: #b12704;
    font-weight: 700;
    margin-bottom: 0;
    text-align: left;
    align-self: center;
    align-content: flex-start;
}

.price-2 {
    display: inline-block;
    color: #565959;
    text-align: center;
    font-weight: 400;
}

table {
    width: 100%;
}

tbody .title {
    width: 30%;
}

tbody .description {
    width: 70%;
}

.main__about-item {
    margin-bottom: 1.6rem;
    margin-top: 0.8rem;
}

.about-item__header h4 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    padding-bottom: 2.4rem;
}

.about-list-el {
    word-wrap: break-word;
}

.main__buy-item-container {
    border-radius: 0.8rem;
    border: 1px #d5d9d9 solid;
    padding: 1.4rem 1.8rem;
    /* height: 74%; */
}

.main__buy-item-container .price-big {
    margin-bottom: 0.4rem;
}

.tax-and-import {
    color: #565959;
}

.more-details a {
    color: #007185;
    text-decoration: none;
}

.delivery-info {
    margin: 1.2rem 0;
    color: #0f1111;
}

.green-txt {
    color: #007600;
}

.is-deliver-main img {
    filter: invert(0);
    width: 1.2rem;
    height: 1.5rem;
    margin-top: 0;
}

.deliver-txt {
    align-self: flex-end;
}

.deliver-txt a {
    text-decoration: none;
    color: #007185;
    font-size: 1.2rem;
    line-height: 1.5;
}

.stock-info {
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.quantity {
    margin-right: 2%;
    width: 100%;
    min-height: 1px;
    text-align: left;
}

.quantity select {
    height: 100%;
    padding-right: 2rem;
    font-size: 1.1rem;
    padding: 0 0.6rem 0 0.7rem;
    text-align: left;
    box-shadow: 0 2px 5px rgb(15 17 17/ 15%);
    background: #f0f2f2;
    border-radius: 7px;
    height: 2rem;
    margin-bottom: 1.2rem;
}

.btn {
    font-size: 1.3rem;
    line-height: 2.9rem;
    padding: 0 1rem 0 1.1rem;
    text-align: center;
    border-radius: 2rem;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    margin-bottom: 0.8rem;
    color: #0f1111;

    /* height: 100%;
    width: 100%; */
    /* opacity: 0.01; */
}

a {
    text-decoration: none;
}

.btn-yellow {
    background: #ffd814;
    border-color: #fcd200;
}

.btn-orange {
    background: #ffa41c;
    border-color: #ff8f00;
}

.blue-color {
    color: #007185;
}

.lock {
    height: 15px;
    align-self: center;
    margin-right: 1rem;
}

.secure a {
    align-self: center;
}

.secure {
    margin-bottom: 0.8rem;
}

.ship-sold-container {
    margin-bottom: 1.2rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    font-size: 1.2rem;
    color: #565959;
}

.header {
    padding-right: 1rem;
}

.return-policy {
    margin-bottom: 0.4rem;
    width: 100%;
}

.checkbox {
    margin-bottom: 1.2rem;
}

label input {
    height: 1.3rem;
    width: 1.3rem;
    position: relative;
    bottom: -3px;
    /* line-height: 1.9rem; */
}
.checkbox-gift span {
    padding-left: 0.5rem;
}

.add-to-list {
    border-radius: 3px;
    background: #e7e9ec;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    border: 1px solid;
    border-color: #adb1b8 #a2a6ac #8d9096;
    padding: 0 1rem 0 1.1rem;
}

.add-to-list-link {
    color: #0f1111;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 2.9rem;
}

.share-container {
    margin: 0.8rem 0;
    align-items: center;
    justify-content: center;
}

.share-container span {
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin: 0 0.5rem;
}

.share-container a {
    margin: 0 0.5rem;
}

/* Hover */

.underline-hover:hover {
    text-decoration: underline;
}

.img-container:hover {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.red-hover:hover {
    color: #b12704;
}

.btn-yellow:hover {
    background: #f7ca00;
    border-color: #f2c200;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.btn-orange:hover {
    background: #fa8900;
    border-color: #e3931e;
}
