.carousel {
    /* margin: 0 27rem; */
    min-width: 996px;
    align-items: center;
    justify-content: center;
}

.carousel h3,
.freq-bought h3 {
    margin-left: 2%;
    width: 66%;
    color: #c60;
    font-size: 16px;
    margin-bottom: 4px;
    height: 60px;
}

.carousel__grid-container {
    display: grid;
    grid-template-columns: 40px repeat(7, 160px) 40px;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.arrow {
    align-self: center;
    border-radius: 7px;
    padding: 6px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    border: 1px solid #d5d9d9;
    height: auto;
    text-align: center;
    width: 40px;
    cursor: pointer;
    display: flex;
}

.arrow img {
    width: 11px;
    height: 15px;
    margin: 5px 6px 5px 5px;
    align-self: center;
}

.item-card {
    width: 160px;
}

.item-rating {
    align-self: center;
}

.stars-container {
    display: flex;
    align-items: center;
}

.item-rating span {
    height: 18px;
    width: 8px;
}

.sprite-stars-img {
    background: url("../../assets/images/sprite1.png") no-repeat -230px -590px;
    width: 60px;
    height: 12px;
    align-self: center;
}

.item-price {
    align-items: center;
}

.amazon-prime {
    background: url("../../assets/images/sprite5.png") no-repeat -138px -73px;
    width: 42px;
    height: 12px;
}
