/* Navbar */
.navbar {
    color: #ffffff;
}

.navbar__top > * {
    margin-top: 0.2rem;
}

/* Top navbar */

.navbar__top.align-row {
    background: #131921;
}

.navbar__top {
    height: 6rem;
    /* align-content: space-between; */
}

.logo img {
    padding: 0.1rem 0.8rem 0 0.6rem;
    height: 5rem;
    margin-top: 0.8rem;
}

.is-deliver {
    padding: 0 0.9rem;
    margin: 0.5rem 0.2rem 0.5rem 0;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.is-deliver img {
    filter: invert(1);
    width: 1.5rem;
    height: 1.8rem;
    margin-top: 0.8rem;
    position: static;
    left: 0.2rem;
    top: 0.8rem;
}

.is-deliver .deliver-txt {
    padding-left: 0.4rem;
    /* text-align: center; */
}

.search-bar {
    padding: 1rem 0.4rem 1rem 0.3rem;
    height: 6rem;
}

label#search-filter {
    display: block;
    width: 4rem;
}

select {
    display: block;
    /* width: min-content; */
    /* max-width: 100%; */
    height: 4rem;
    padding-left: 0.5rem;
    border: 1px solid #cdcdcd;
    border-radius: 0.4rem 0 0 0.4rem;
}

input {
    display: block;
    width: 100%;
    height: 4rem;
    border: 0;
}

form {
    width: 100%;
}

.search-bar__search-fill {
    width: 100%;
}

.align-right {
    justify-content: flex-end;
    flex-grow: 1;
}

label#search-fill {
    display: block;
    width: 4rem;
    max-width: 100%;
    flex: 9;
}

.bg-orange {
    background: rgb(254, 189, 105);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}

.search-sprite {
    background: url("../../assets/images/sprite2.png") no-repeat -10px -290px;
    width: 21px;
    height: 21px;
    align-self: center;
}

.sign-in,
.returns-and-orders,
.cart {
    padding: 0 0.9rem;
    margin: 0.5rem 0.2rem 0.5rem 0;
    width: fit-content;
    justify-content: center;
    align-items: flex-start;
}

.cart > * {
    align-self: center;
}

.cart-sprite {
    background: url("../../assets/images/sprite1.png") no-repeat -157px -245px;
    width: 38px;
    height: 26px;
    filter: invert(1);
    position: relative;
}

.cart-load {
    position: absolute;
    color: rgb(
        15,
        122,
        251
    ); /*Chose the inverted color (because we invert the div for the cart icon color.*/
    font-size: 1.6rem;
    left: 1.8rem;
    right: auto;
    top: -0.6rem;
    width: 1.9rem;
    font-weight: 700;
}

/* Bottom navbar */

.navbar__bottom {
    background: #232f3e;
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 1.3rem;
}

.navbar-bottom ul {
    height: 3.9rem;
    width: 100%;
}

.navbar-bottom-el {
    list-style: none;
    padding: 0.8rem 0.9rem;
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.6rem; */
}

.navbar-bottom-el a {
    text-decoration: none;
    color: #ffffff;
}

.hamburger-sprite {
    background: url(../../assets/images/sprite2.png) no-repeat -172px -255px;
    width: 18px;
    height: 14px;
    margin-right: 0.6rem;
}

.hamburger {
    align-items: center;
    align-content: center;
}

.hamburger-menu-text {
    align-self: center;
}

/* Secondary bottom navbar */
.navbar__bottom-secondary {
    font-size: 1.2rem;
    font-weight: 400;
    background: rgb(250, 250, 250);
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    padding-left: 1.5rem;
    padding-right: 0.9rem;
}

.navbar-bottom-secondary-el {
    /* height: 3.1rem; */
    padding: 0 1.1rem;
    list-style: none;
}

.navbar-bottom-secondary-el a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    line-height: 3.3rem;
}
